[submodule "lib/zeppelin-solidity"]
	path = lib/zeppelin-solidity
	url = https://github.com/OpenZeppelin/zeppelin-solidity
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
